<div class="footer-container-components">
    <div class="column-one">
        <div class="row-container footer">
            <div class="row-one">
                CONTACT US
                <br><br>
                Bray Park, Wyndham Avenue
                <br>
                Boyne Island, Queensland, Australia 4680
                <br>
                <br>
                <a href="mailto:enquiries@boynetannumhookup.com.au">enquiries@boynetannumhookup.com.au</a>
            </div>

            <div class="row-two">
                RULES &amp; CONDITIONS<br><br>
                <a href="https://boynetannumhookup.com.au/rules/">View our Rules &amp; Conditions here</a>
            </div>
        </div>
    </div>

</div>