<div class="footer-container-components">
    <!--<div class="footer-contact">-->
        <!--CONTACT US-->
        <!--<br><br>-->
        <!--Bray Park, Wyndham Avenue-->
        <!--<br>-->

        <!--Boyne Island, Queensland, Australia 4680-->
        <!--<br>-->

        <!--<br>-->

        <!--enquiries@boynetannumhookup.com.au-->
    <!--</div>-->


    <!--<div class="footer-rules-and-conditions">-->

        <!--RULES &amp; CONDITIONS<br><br>-->

        <!--<a href="https://boynetannumhookup.com.au/rules/">View our Rules &amp; Conditions here</a>-->

    <!--</div>-->

</div>