
<div class="navigation-container desktop-nav">

    <a href="{{site.url}}/rules/">
        <div class="home-text underline">Rules and Conditions</div>
    </a>
    <div class="home-text barrier"> | </div>
    <div class="home-text">Fish Categories </div>
    <div class="home-text barrier"> | </div>
    <div class="home-text">Become a Stall Holder</div>
    <div class="home-text barrier"> | </div>
    <div class="home-text">Prizes</div>
    <div class="home-text barrier"> | </div>
    <div class="home-text">Merchandise</div>
    <div class="home-text barrier"> | </div>
    <div class="home-text">Previous Event</div>

</div>