
<a href="{{site.url}}">
<div class="back-navigation">
        <div class="arrow">&#10094;</div>
        <div class="text">HOME</div>
</div>
</a>

<div class="navigation-container mobile-nav">

    <a href="{{site.url}}/rules/">
        <div class="bthu nav-button">
            <div class="home-text">Rules and Conditions</div>
        </div>
    </a>

    <div class="about nav-button">
        <div class="home-text">Fish Categories</div>
    </div>
    <div class="the-region nav-button">
        <div class="home-text">Become a Stall Holder</div>
    </div>
    <div class="event-reel nav-button">
        <div class="home-text">Prizes</div>
    </div>
    <div class="sponsors nav-button">
        <div class="home-text">Merchandise</div>
    </div>
    <div class="partners nav-button">
        <div class="home-text">Previous Event</div>
    </div>
</div>