<div class="navigation-container">


    <style>
        a {
            text-decoration: none;
        }
    </style>

    <a href="http://localhost:4000/2018-bthu/">
        <div class="bthu nav-button">
            <div class="home-text">2018 BTHU</div>
        </div>
    </a>
    <a href="http://localhost:4000/2018-bthu/">
        <div class="about nav-button">
            <div class="home-text">About</div>
        </div>
    </a>
    <a href="http://localhost:4000/2018-bthu/">
        <div class="the-region nav-button">
            <div class="home-text">The Region</div>
        </div>
    </a>
    <a href="http://localhost:4000/2018-bthu/">
        <div class="event-reel nav-button">
            <div class="home-text">Event Reel</div>
        </div>
    </a>
    <a href="http://localhost:4000/2018-bthu/">
        <div class="sponsors nav-button">
            <div class="home-text">Sponsors</div>
        </div>
    </a>
    <a href="http://localhost:4000/2018-bthu/">
        <div class="partners nav-button">
            <div class="home-text">Partners</div>
        </div>
    </a>
    <a href="http://localhost:4000/2018-bthu/">
        <div class="contact nav-button">
            <div class="home-text">Contact</div>
        </div>
    </a>
</div>