<div class="home">
    <div class="home-text">Home</div>
</div>
<div class="bthu">
    <div class="home-text">2018 BTHU</div>
</div>
<div class="the-region">
    <div class="home-text">The Region</div>
</div>
<div class="about">
    <div class="home-text">About</div>
</div>
<div class="the-region">
    <div class="home-text">The Region</div>
</div>
<div class="event-reel">
    <div class="home-text">Event Reel</div>
</div>
<div class="sponsors">
    <div class="home-text">Sponsors</div>
</div>
<div class="partners">
    <div class="home-text">Partners</div>
</div>
<div class="contact">
    <div class="home-text">Contact</div>
</div>