body {

  h1 {
    font-size: 25px;
    margin:0px;
  }

  h2 {
    font-size: 19px;
    margin:0px;
  }

  p {
    font-size: 15px;
  }

  a {
    text-decoration: none;
  }

  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image:url("/content/images/01.jpg");
  background-color: #111111;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
  opacity: 0.98;

}