
.body-container.fish-categories {
  .column-one{
    padding-right: 10px;
    width: 66%;
    text-align: left;
    display: table-cell;
    vertical-align: top;
    .bottom-accordian {
      margin-bottom: 0;
    }
  }

  .weight-in-image-container {
    text-align: center;
    .image {
      width: 75%;
    }
  }


  .header-text {
    width:100%;
  }
}

@media screen and (max-width: 785px) and (min-width: 0px)  {
  .body-container.fish-categories {
    button.accordion {
      font-size: 16px;
      word-break: break-word;
    }

    .weight-in-image-container {
      .image {
        width: 100% !important;
      }
    }

    .column-one{
      width: 100%;
      display: block;
    }
    .column-two{
      width: 100%;
      display: none;
    }
  }
}