
.body-container.fish-categories {
  .column-one{
    padding-right: 10px;
    width: 66%;
    display: table-cell;
    vertical-align: top;
    .bottom-accordian {
      margin-bottom: 0;
    }
  }
  .column-two{
    overflow: hidden;
    width: 33.33%;
    display: table-cell;
    background-image:url(/content/images/hook070609-28.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 790px;
  }

  .header-text {
    width:100%;
  }
}


@media screen and (max-width: 785px) and (min-width: 0px)  {
  .body-container.fish-categories {
    button.accordion {
      font-size: 15px;
      word-break: break-word;
    }

    .column-one{
      width: 100%;
      display: block;
    }
    .column-two{
      width: 100%;
      display: none;
    }
  }
}