




.footer-container {

 padding-top: 80px;
 font-size: 15px;
 height: 250px;
 background-color: #111111;
 color: white;


 right: 0;
 bottom: 0;
 left: 0;

}
//
//.footer-container-components {
//
// margin: 0 auto;
// width: 500px;
// height: 150px;
//}
//
//.footer-rules-and-conditions {
//
// width: 200px;
// padding-left: 100px;
//
//
//
// height: 150px;
//
// a {
//  color: lightskyblue;
// }
//}
//
//.footer-contact {
//
// width: 200px;
// float: left;
//}
//
//@media screen and (max-width: 535px) and (min-width: 0px)  {
//
// .footer-rules-and-conditions {
//  float: none !important;
// }

//}