
.footer-container {

 padding-top: 50px;
 font-size: 15px;
 height: 250px;
 background-color: #111111;
 color: white;


 right: 0;
 bottom: 0;
 left: 0;

 a {
  color: white;
 }

 .column-one{
  width: 100%;
  display: table;
 }

 .row-container {
  display: table;
  margin: 0 auto;

  .row-one,
  .row-two{

   padding: 20px;
   vertical-align: top;
   display: table-cell;
   width: 50%;
  }
 }
}

@media screen and (max-width: 785px) and (min-width: 0px)  {
 .footer-container {

  .row-container,
  .column-one{

   display: block;
   width: 100%;
  }
  .row-one,
  .row-two {
   text-align: center;
   width: 100% !important;
   display: block !important;
   padding-bottom: 10px;
  }

 }
}
