

.header-container {

  display: table;

  .logo-container {
    display: inline-block;

    width: 270px;
    height: 332px;
    background-color: #888888;

    .gladstone-logo {
      padding-left: 20px;
      padding-top: 20px;
    }

    .hooked-logo {
      width: 140px;
      padding-left: 60px;
      padding-top: 20px;
    }
  }

  .navigation-container {
    padding-left: 20px;
    padding-bottom: 20px;


    width: 100%;
    display: table-cell;
    margin: 0 auto;
    vertical-align: top;

    .home,
    .bthu,
    .the-region,
    .about,
    .event-reel,
    .sponsors,
    .partners,
    .contact {
      .home-text {
        padding-top: 10px;
        display: table;
        margin: 0 auto
      }

      display: inline-block;
      margin-top: 20px;
      width: 100px;
      height: 80px;

      background-color: #009926;

      margin-right: 20px;

    }

  }


  @media screen and (max-width: 672px) {
    .navigation-container {
      display: block !important;
    }

    .hooked-logo-container {
      display: inline;
      float: left;
      width:130px;
    }

    .gladstone-logo-container{
      display: inline;
      vertical-align: top;
      width: 300px;
    }

    .logo-container {
      display: table;
      width: 100%;
      height: 100px;
    }

    .gladstone-logo {
      width: 200px!important;
    }

    .hooked-logo {
      width: 90px!important;
      padding-left: 20px !important;
    }

  }


}