
.body-container.previous-event {
  .column-one{
    height: 300px;
    padding-right: 10px;
    width: 100%;
    display: table-cell;
    vertical-align: top;
    background-image:url(/content/images/Hookup-Slider3.jpg);
    color: white;
  }
  .column-two{
    overflow: hidden;
    width: 50%;
    display: table-cell;
    background-image:url(/content/images/Hookup-Slider3.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    height: 200px;
  }

  .previous-event-image {
    width: 75%;
  }
}

@media screen and (max-width: 785px) and (min-width: 0px)  {
  .previous-event-image {
    width: 100% !important;
  }
}