.body-container.sponsors {

  display: block;

  .column-one{
    width: 100%;
    //display: block;
  }
  .column-two{
    display: block;
    width: 100%;
  }

  .header-text {
    width:100%;
  }

  .row-container.major {
    display: table;
    .major-logo {
      width: 60%;
    }
    .row-one,
    .row-two,
    .row-three {
      vertical-align: top;
      display: table-cell;
      width: 33%;
    }
  }

  .row-container.red-emperor {

    padding-bottom: 10px;

    display: table;
    .major-logo {
      width: 60%;
    }
    .row-one,
    .row-two,
    .row-three {
      vertical-align: top;
      display: table-cell;
      width: 25%;
    }
  }
}

  @media screen and (max-width: 785px) and (min-width: 0px)  {
    .body-container.sponsors {

      .row-container,
      .column-one,
      .column-two {
        display: block;
          width: 100%;
      }


      .major-logo {
        width: 40% !important;
      }

      .row-one,
      .row-two,
      .row-three {
        width: 100% !important;
        display: block !important;
        margin: 0 auto;
        padding-bottom: 20px;
      }

    }
  }