
<div class="navigation-container desktop-nav">

    <a href="{{site.url}}/rules/">
        <div class="home-text rules">Rules and Conditions</div>
    </a>

    <div class="home-text barrier"> | </div>

    <a href="{{site.url}}/fish-categories/">
        <div class="home-text categories">Fish Categories </div>
    </a>

    <div class="home-text barrier"> | </div>

    <a href="{{site.url}}/become-a-stall-holder/">
        <div class="home-text stall-holder">Become a Stall Holder</div>
    </a>

    <div class="home-text barrier"> | </div>

    <a href="{{site.url}}/prizes/">
        <div class="home-text prizes">Prizes</div>
    </a>

    <div class="home-text barrier"> | </div>

    <a href="{{site.url}}/shop/">
        <div class="home-text merchandise">Merchandise</div>
    </a>

    <div class="home-text barrier"> | </div>

    <a href="{{site.url}}/previous-event/">
        <div class="home-text previous-event">Previous Events</div>
    </a>

</div>