<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-return.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">

        <div class="body-container 2017-photos-leaderboard">
            {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}

            <div class="header-text">
                <br>
                <br>
                <h1>2016 BTHU LEADERBOARD</h1>
            </div>



            <br>

            <p><a href="{{ site.url }}/content/images/2016-leaderboard/Overall-Winners.png" download>Download 2016 Overall Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2016-leaderboard/Friday-29th-Winners.png" download>Download 2016 Friday 29th Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2016-leaderboard/Saturday-30th-Winners.png" download>Download 2016 Saturday 30th Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2016-leaderboard/Sunday-1st-Winners.png" download>Download 2016 Sunday 1st Winner</a></p>

            <br>


            <br>

            ---------------------------------------------
            <br>
            <br>

            <h1>2016 BTHU PHOTOS</h1>
            <br>
            <br>

            <div class="column-container">

                <!--<div class="column-one">-->
                    <!--<div class="row-container">-->

                        <!--<div class="row-one">-->
                                <!--<img class="shirt-image" src="{{site.url}}/content/images/shirtOne/ECO65_Kids-long-sleeve-blue-front.jpg">-->
                        <!--</div>-->

                        <!--<div class="row-two">-->
                                <!--<img class="shirt-image" src="{{site.url}}/content/images/shirtTwo/ECO65_Kids-long-sleeve-pink-front.jpg">-->
                        <!--</div>-->

                        <!--<div class="row-three">-->
                            <!--<img class="shirt-image" src="{{site.url}}/content/images/shirtThree/ECO65_Red-Short-Sleeve-front.jpg">-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

                <!--<div class="column-two">-->
                    <!--<div class="row-container">-->

                        <!--<div class="row-one">-->
                            <!--<img class="shirt-image" src="{{site.url}}/content/images/shirtFour/ECO65_Blue-Long-Sleeve-front.jpg">-->
                        <!--</div>-->

                        <!--<div class="row-two">-->
                            <!--<img class="shirt-image" src="{{site.url}}/content/images/shirtFive/ECO65_Purple-Long-Sleeve-front.jpg">-->
                        <!--</div>-->

                        <!--<div class="row-three">-->
                            <!--<img class="shirt-image" src="{{site.url}}/content/images/shirtSix/ECO65_Purple-Short-Sleeve-front.jpg">-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            </div>

            <br>
            <br>
        </div>
    </div>
    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>
<script>

    $(".previous-event").addClass("underline");

</script>
</body>

</html>