<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-2018-BTHU.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">


        {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}


        <div class="body-container bthu">

            <div class="column-one">
                <br>
                <br>
                <h1>2018 BTHU</h1>
                <p>Come along to the 22nd annual Boyne Tannum Hookup – Australia’s biggest family fishing competition!</p>
                <br>
                <h2>Boyne Tannum Hookup:</h2>
                <p>28th, 29th and 30th April</p>
                <br>
                <h2>WHERE:</h2>
                <p>Bray Park, Wyndham Avenue, Boyne Island, Queensland.</p>
                <br>
                <h2>REGISTRATIONS:</h2>
                <p>Registrations will open March 2017<p>
                <br>
            </div>

            <div class="column-two">
                <br>
                <br>
                <img class="hooked-logo bthu" src="{{site.url}}/content/logos/BTHU-Web-Logo-300x300.png">
            </div>

        </div>
    </div>

    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>

</body>

</html>