<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-2018-BTHU.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">


        {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}


        <div class="body-container bthu">

            <div class="column-one">
                <br>
                <br>
                <h1>2018 BTHU</h1>
                <br>
                <h2>Come along to the 22nd annual Boyne Tannum Hookup – Australia’s biggest family fishing competition!</h2>
                <br>
                <h1>Boyne Tannum Hookup:</h1>
                <br>
                <h2>28th, 29th and 30th April</h2>
                <br>
                <h1>WHERE:</h1>
                <br>
                <h2>Bray Park, Wyndham Avenue, Boyne Island, Queensland.</h2>
                <br>
                <h1>REGISTRATIONS:</h1>
                <br>
                <h2>Registrations will open March 2017<p>
                <br>
            </div>
        </div>
    </div>

    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>

</body>

</html>