<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-return.html %}

        {% include _navigation/_home/navigation.html %}
    </div>
    <div class="content-container">

        <div class="body-container">
            {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}

            <br>

            <h2>Stallholder registration is now closed. </h2>
            <h2>Thank you for your support for the Boyne Tannum Hook Up!</h2>

        </div>

    </div>
    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>


<script>
    $(".stall-holder").addClass("underline");
</script>

</body>

</html>