<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include navigation-2018-BTHU.html %}

        <!--{% include second-main-navigation.html %}-->

    </div>

    <div class="content-container">

        <div class="body-text-container">
            <br>
            <br>
        <h2>2018 BTHU</h2>
        <p><strong>Come along to the 22nd annual Boyne Tannum Hookup – Australia’s biggest family fishing competition!</strong></p><br>
            <span>
    <strong>Boyne Tannum Hookup:</strong>
                <br>28th, 29th and 30th April<br><br>
    <strong>WHERE:</strong>
                <br>Bray Park, Wyndham Avenue, Boyne Island, Queensland.<br><br>
    <strong>REGISTRATIONS:</strong>
                <br>Registrations will open March 2017<br><br>
</span>
        </p>


</div>
        <!--<div class="jumbotron">-->
            <!--<h1 class="display-3">2018 BTHU</h1>-->
            <!--<p class="lead">Come along to the 22nd annual Boyne Tannum Hookup – Australia’s biggest family fishing competition!</p>-->
            <!--<hr class="my-4">-->
            <!--<p>Boyne Tannum Hookup:</strong> 28th, 29th and 30th April</p>-->
        <!--</div>-->


    </div>

    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>

</body>

</html>