<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include navigation-2018-BTHU.html %}

        {% include navigation.html %}
    </div>

    <div class="content-container">


        {% include main-navigation-2018-BTHU.html %}


        <div class="body-text-container">
            <br>
            <br>
            <h2>2018 BTHU</h2>
            <p><strong>Come along to the 22nd annual Boyne Tannum Hookup – Australia’s biggest family fishing
                competition!</strong></p>
            <br>
            <strong>Boyne Tannum Hookup:</strong>

            <br>28th, 29th and 30th April<br><br>
            <strong>WHERE:</strong>

            <br>Bray Park, Wyndham Avenue, Boyne Island, Queensland.<br><br>
            <strong>REGISTRATIONS:</strong>

            <br>Registrations will open March 2017<br><br>
            </p>
        </div>
    </div>

    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>

</body>

</html>