<!DOCTYPE html>

<html>
{% include head.html %}
<body>

<div class="page-container">


    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_home/navigation.html %}

        {% include _navigation/_home/mobile-navigation.html %}

    </div>

    <div class="content-container">
        <div class="body-container partners">

            <br>
            <h1>COMMUNITY PARTNERS</h1>
            <br>
            <br>

            <div class="column-one">
                <div class="row-container major">
                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/BITS2.gif">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/Boyne-Tannum-Brand-logo.jpeg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/IFA-LGemboss-rgb.jpg">
                    </div>
                </div>
            </div>

            <div class="column-two">
                <div class="row-container major">
                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/Lions.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/LogoMaker-1491214161846-e1491443190800.png">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/MARATIME-SAFETY.jpg">
                    </div>
                </div>
            </div>

            <div class="column-three">
                <div class="row-container major">
                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/Mnes-Shed.gif">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/Scouts2.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/Screen-Shot-2016-04-26-at-1.14.34-pm.png">
                    </div>
                </div>
            </div>


            <div class="column-four">
                <div class="row-container red-emperor">
                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/Wallaby-Seniors-logo.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/partners/Yaralla.jpg">
                    </div>
                </div>
            </div>
            <div class="column-five">
                <div class="row-container text">
                    <div class="row-one">
                        <h2>Gladstone Sportfishing Club</h2>
                        <h2>Yaralla Deepsea Fishing Club</h2>
                        <h2>QCWA – Boyne Island Tannum Sands</h2>
                        <h2>EQIP EBITS Centre</h2>
                        <h2>Queensland Police Service</h2>
                    </div>

                    <div class="row-two">
                        <h2>Calliope Rooster Rugby League Club</h2>
                        <h2>NRL Development</h2>
                        <h2>Maritime Safety Queensland</h2>
                        <h2>Great Barrier Reef Marine Park Authority</h2>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>

            <img class="racq" src="{{site.url}}/content/images/partners/RACQ Copper.jpg">
            <br>
            <br>

            <h2>Support our community partner Capricorn Helicopter Rescue by buying a duck for their Great Duck Race on Sunday 30th April!</h2>
            <br>
        </div>
    </div>

    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>

</body>

</html>