<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-return.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">

        <div class="body-container previous-event">
            {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}

            <div class="header-text">
                <br>
                <br>
                <h1>PREVIOUS EVENTS</h1>
                <br>
                <h2>2016 BTHU</h2>
            </div>

            <br>
            <h2><a href="{{ site.url }}/2016-photos-and-leaderboard">2016 PHOTOS &amp LEADERBOARD</a></h2>
            <br>
            <br>
            <br>
            <h2>2017 BTHU</h2>
            <br>
            <h2><a href="{{ site.url }}/2017-photos-and-leaderboard">2017 PHOTOS &amp LEADERBOARD</a></h2>
            <br>
            <br>
        </div>
    </div>
    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>

<script>
    $(".previous-event").addClass("underline");
</script>
</body>

</html>

