<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-return.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">

        <div class="body-container prizes">
            {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}

            <div class="header-text">
                <br>
                <br>
                <h1>PRIZES</h1>
                <br>
            </div>
            <div class="column-container">
                <div class="column-one">

                    <div class="first-prize-container">
                        <img class="first-prize-image gallery-image" src="{{site.url}}/content/images/1st-Prize-2017-Graphic.png">
                    </div>

                    <br><br><br>
                    <h2>Introducing Jet Ski Fishing</h2>
                    <div class="panel">
                        <div class="first-prize-container">
                            <img class="jet-ski-image gallery-image" src="{{site.url}}/content/images/VX-Deluxe-Jet-Ski-Prize.jpg">
                        </div>
                        <p>Boyne Tannum Hookup are excited to announce the new fishing category Jet Ski Fishing sponsored by Yamaha JetFish.</p>
                        <p>HookUp will be giving away a Yamaha VX Deluxe Jet Ski (pictured above) as a promotional draw for senior entrants on Saturday night of the competition.</p>
                        <br>
                    </div>


                    <h2>Presentations</h2>
                    <div class="panel">
                        <p>Prizes and Fish Category presentations will be at the weigh-in station after the weigh-ins, each afternoon. Daily prizes not collected by 9:00pm Sunday night will be posted out to the winners as soon as manageable. No more than one trophy will be awarded in respect of any one fish category caught. If a fish category weigh is a tie, the prize will be awarded to the first recorded entrant. The maximum daily Fish Category wins per competitor is one per day and one final Category win for the Fish Category Trophy. If the competitor is leading in two separate categories, the competitor will be awarded on the first fish weighed in. There will be a Junior and Senior boat drawn on the last night for all weigh-ins regardless of biggest fish weighed in.</p>
                        <br>
                    </div>

                    <h2>Promotional Draws</h2>
                    <div class="panel">
                        <p>On each Promotional Draw the entrant possessing the number announced must present themselves to the announcer with their 2017 Electronic Ticket within two (2) minutes of that prize being announced. All major prize winners will also require formal identification upon presenting themselves to the announcer. All major junior prize winners will be accompanied by a parent or carer with formal identification to confirm winner’s identification. Once a prize has been claimed or a redraw announced that number will be returned to the barrel and another draw will occur immediately.</p>
                        <p>NOTE: All prize draw winners must present themselves to claim their prize within 2 minutes of their name being announced.</p>
                        <br>
                    </div>


                    <h2>The Pat O'Reilly Memorial Trophy Family Trifecta</h2>
                    <br>
                    <div class="panel">
                        <div class="first-prize-container">
                            <img class="gallery-image pat-memorial-image" src="{{site.url}}/content/images/Trifecta-Image.jpg">
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>
</body>

</html>