<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-return.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">

        <div class="body-text-container">

            {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}

            Prizes

        </div>

    </div>
    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>


<script>

//    if($(".rules").hasClass("underline")){
//        $(".rules").removeClass("underline");
//    }
//
//    if($(".categories").hasClass("underline")){
//        $(".categories").removeClass("underline");
//    }
//
//    if($(".stall-holder").hasClass("underline")){
//        $(".stall-holder").removeClass("underline");
//    }
//
//    if($(".prizes").hasClass("underline")){
//        $(".prizes").removeClass("underline");
//    }
//
//    if($(".merchandise").hasClass("underline")){
//        $(".merchandise").removeClass("underline");
//    }
//
//    if($(".previous-event").hasClass("underline")){
//        $(".previous-event").removeClass("underline");
//    }
//
//    $(".rules").addClass("underline");
//    $(".categories").addClass("underline");
//    $(".stall-holder").addClass("underline");
//    $(".merchandise").addClass("underline");
//    $(".previous-event").addClass("underline");
    $(".prizes").addClass("underline");


</script>
</body>

</html>