<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-return.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">

            {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}

        <div class="body-container prizes">

            <br>
            <h1>Prizes</h1>


            <div class="column-container">
            <div class="column-one">
                <br>
                <br>
                <h1></h1>
                <p></p>

                <br>
            </div>

            <div class="column-two">
                <br>
                <br>
                <img class="hooked-logo bthu" src="{{site.url}}/content/images/Prizes-Background.png">
            </div>

        </div>
        </div>

    </div>
    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>


<script>

//    if($(".rules").hasClass("underline")){
//        $(".rules").removeClass("underline");
//    }
//
//    if($(".categories").hasClass("underline")){
//        $(".categories").removeClass("underline");
//    }
//
//    if($(".stall-holder").hasClass("underline")){
//        $(".stall-holder").removeClass("underline");
//    }
//
//    if($(".prizes").hasClass("underline")){
//        $(".prizes").removeClass("underline");
//    }
//
//    if($(".merchandise").hasClass("underline")){
//        $(".merchandise").removeClass("underline");
//    }
//
//    if($(".previous-event").hasClass("underline")){
//        $(".previous-event").removeClass("underline");
//    }
//
//    $(".rules").addClass("underline");
//    $(".categories").addClass("underline");
//    $(".stall-holder").addClass("underline");
//    $(".merchandise").addClass("underline");
//    $(".previous-event").addClass("underline");
    $(".prizes").addClass("underline");


</script>
</body>

</html>