<!DOCTYPE html>

<html>
{% include head.html %}
<body>

<div class="page-container">


    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_home/navigation.html %}

        {% include _navigation/_home/mobile-navigation.html %}

    </div>

    <div class="content-container">
        <div class="body-container sponsors">

            <br>
            <h1>MAJOR SPONSORS</h1>
            <br>


            <div class="column-one">
                <div class="row-container major">
                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/major/rio-tinto-logo-white.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/major/PNGCMYK-Boyne-Smelter-Vertical-HighRes.png">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/major/QAL-Logo.jpg">
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <h1>RED EMPEROR</h1>
            <br>
            <br>



            <div class="column-two">
                <div class="row-container red-emperor">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/Channel-9.png">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/Curtis-Coast-Marina.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/gladstone-area-water-board.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/GPC-1.jpg">
                    </div>
                </div>
            </div>



            <div class="column-three">
                <div class="row-container red-emperor">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/GRC.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/hit-network.png">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/LOGO-LONG2.png">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/Observer.jpg">
                    </div>
                </div>
            </div>


            <div class="column-four">
                <div class="row-container major">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/SEA-JAY.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/Triple-m.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/redEmperor/yamaha_299356_slgn3d-red_cmyk.jpg">
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>
            <h1>BARRAMUNDI</h1>
            <br>
            <br>


            <div class="column-four">
                <div class="row-container red-emperor">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/barramundi/4XG-3a-Primary-Logo-Reduced-Detail-HORZ-Full-Col.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/barramundi/GAMAKATSU.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/barramundi/GLADSTONE-CINEMA.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/barramundi/JJ-RICHARDS.jpg">
                    </div>
                </div>
            </div>


            <div class="column-five">
                <div class="row-container red-emperor">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/barramundi/MAKO-SUNGLASSES.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/barramundi/MV-Party-Hire-1.png">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/barramundi/QGC_only_nov2016_cmyk.gif">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/barramundi/Strong.png">
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <h1>WHITING</h1>
            <br>
            <br>

            <div class="column-five">
                <div class="row-container red-emperor">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/ATEC.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/CHUBB.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/COATES-.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/COMPLETE-ANGLER.jpg">
                    </div>
                </div>
            </div>


            <div class="column-six">
                <div class="row-container red-emperor">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/Connel.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/CT.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/Engel.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/GFS-Boat-Logo.jpg">
                    </div>
                </div>
            </div>



            <div class="column-seven">
                <div class="row-container red-emperor">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/MAS.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/PATS-TACKLE.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/Reef-City-.png">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/Screen-Shot-2016-05-05-at-10.31.03-am.png">
                    </div>
                </div>
            </div>


            <div class="column-eight">
                <div class="row-container red-emperor">

                    <div class="row-one">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/SES.jpg">
                    </div>

                    <div class="row-two">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/TELSTRA.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/WILSON.jpg">
                    </div>

                    <div class="row-three">
                        <img class="major-logo" src="{{site.url}}/content/images/sponsors/whiting/Yamaha.png">
                    </div>
                </div>
            </div>

            <br>
        </div>
    </div>

    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>

</body>

</html>