<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-return.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">

        <div class="body-container photos-leaderboard">
            {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}

            <div class="header-text">
                <br>
                <br>
                <h1>2017 BTHU LEADERBOARD</h1>
            </div>

            <p><a href="{{ site.url }}/content/images/2017-leaderboard/Overall-Winners-2017.jpg" download>Download 2017 Overall Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2017-leaderboard/Friday-28th-Winners-2017-602x1024.jpg" download>Download 2017 Friday 28th Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2017-leaderboard/Saturday-29th-Winners-2017-602x1024.jpg" download>Download 2017 Saturday 29th Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2017-leaderboard/Sunday-30th-Winners-2017-602x1024.jpg" download>Download 2017 Sunday 30st Winner</a></p>

            <br>

            <h1>2017 PHOTOS</h1>
            <br>


            <div class="column-container">

                <div class="column-one">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/01_02055999-edited.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/03_02056052-edited.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/04_DSC_8166-1024x683-1024x683.jpg">
                        </div>

                        <div class="four-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/05_DSC_4244-1024x683.jpg">
                        </div>

                    </div>
                </div>

                <div class="column-two">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/06_DSC_4206-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/07_DSC_4191-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/08_DSC_4173-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/09_DSC_4167-1024x683.jpg">
                        </div>

                    </div>
                </div>

                <div class="column-three">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/10_DSC_4162-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/11_DSC_4102-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/12_DSC_3927-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/14_DSC_3796-1024x683.jpg">
                        </div>

                    </div>
                </div>

                <div class="column-four">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/15_DSC_3770-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/16_DSC_3298-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/07_DSC_4191-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/17_DSC_3277-1024x683.jpg">
                        </div>

                    </div>
                </div>

                <div class="column-five">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/19_DSC_0266-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/20_DSC_0234-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/21_DSC_0072-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/36_02054183-1024x683.jpg">
                        </div>

                    </div>
                </div>


                <div class="column-six">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/23_020559992-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/24_02055963-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/25_02055922-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/26_02055888-1024x683.jpg">
                        </div>

                    </div>
                </div>


                <div class="column-seven">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/27_02055877-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/28_02054565-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/29_02054342-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/30_02054321-1024x683.jpg">
                        </div>

                    </div>
                </div>


                <div class="column-eight">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/31_02054313-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/32_02054285-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/33_02054283-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/34_02054278-1024x683.jpg">
                        </div>

                    </div>
                </div>


                <div class="column-nine">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/35_02054239-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/36_02054183-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/37_02054131-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/38_02054109-1024x683.jpg">
                        </div>

                    </div>
                </div>


                <div class="column-ten">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/02_02056018-edited-683x1024.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/13_DSC_3919.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/18_DSC_3238.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2017-event-gallery/22_020560186.jpg">
                        </div>

                    </div>
                </div>









                <!--<div class="column-six">-->
                    <!--<div class="row-container">-->

                        <!--<div class="row-one last">-->
                            <!--<img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/01_sunset10-682x1024.jpg">-->
                        <!--</div>-->

                        <!--<div class="row-two last">-->
                            <!--<img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/04_sunset1-956x1024.jpg">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>
<script>

    $(".previous-event").addClass("underline");

</script>
</body>

</html>