<!DOCTYPE html>

<html>
{% include head.html %}

<body>

<div class="page-container">

    <div class="header-container">

        {% include header.html %}

        {% include _navigation/_2018-BTHU/mobile-navigation-return.html %}

        {% include _navigation/_home/navigation.html %}
    </div>

    <div class="content-container">

        <div class="body-container photos-leaderboard">
            {% include _navigation/_2018-BTHU/sub-navigation-2018-BTHU.html %}

            <div class="header-text">
                <br>
                <br>
                <h1>2016 BTHU LEADERBOARD</h1>
            </div>

            <p><a href="{{ site.url }}/content/images/2016-leaderboard/Overall-Winners.png" download>Download 2016 Overall Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2016-leaderboard/Friday-29th-Winners.png" download>Download 2016 Friday 29th Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2016-leaderboard/Saturday-30th-Winners.png" download>Download 2016 Saturday 30th Winner</a></p>

            <p><a href="{{ site.url }}/content/images/2016-leaderboard/Sunday-1st-Winners.png" download>Download 2016 Sunday 1st Winner</a></p>
            <br>
            <h1>2016 PHOTOS</h1>
            <br>
            <div class="column-container">
                <div class="column-one">
                    <div class="row-container">

                        <div class="row-one">
                                <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day1/01_winner-boat-1-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day1/02_BKS_6135-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day1/07_draw5-1024x683.jpg">
                        </div>

                        <div class="four-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day2/02_sunset11-1024x683.jpg">
                        </div>

                    </div>
                </div>

                <div class="column-two">
                <div class="row-container">

                <div class="row-one">
                    <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day2/03_sunset4-1024x683.jpg">
                </div>

                <div class="row-two">
                    <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day2/05_DSC_8185-1024x683.jpg">
                </div>

                <div class="row-three">
                    <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day2/06_DSC_8166-1024x683.jpg">
                </div>
                <div class="row-four">
                    <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day2/07_c5-1024x683.jpg">
                </div>

                </div>
                </div>

                <div class="column-three">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day3/01_w6-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day3/02_boat4-1024x682.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day3/03_boat1-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day3/04_17-1024x683.jpg">
                        </div>

                    </div>
                </div>

                <div class="column-four">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day3/05_12-1024x683.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day3/06_06-1024x683.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day3/07_01-1024x683.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day3/08_w7-1024x683.jpg">
                        </div>

                    </div>
                </div>

                <div class="column-five">
                    <div class="row-container">

                        <div class="row-one">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day1/03_DSC_7682-683x1024.jpg">
                        </div>

                        <div class="row-two">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day1/04_DSC_7681-683x1024.jpg">
                        </div>

                        <div class="row-three">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day1/05_DSC_7676-683x1024.jpg">
                        </div>
                        <div class="row-four">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day1/06_DSC_7670-683x1024.jpg">
                        </div>

                    </div>
                </div>

                <div class="column-six">
                    <div class="row-container">

                        <div class="row-one last">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day2/01_sunset10-682x1024.jpg">
                        </div>

                        <div class="row-two last">
                            <img class="gallery-image" src="{{site.url}}/content/images/2016-event-gallery/day2/04_sunset1-956x1024.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="footer-container">
        {% include footer.html %}
    </div>

</div>
<script>

    $(".previous-event").addClass("underline");

</script>
</body>

</html>